.profile-card{
    max-width: 650px;
    margin: 0 auto;
}
.profile-col{
    display: flex;
    flex-wrap: wrap;
}

.right-profile{
    margin: 5px auto;
}
.profile-img{
    width: 180px;
    height: 180px;
    border-radius: 180px;
}
.profile-details{
    display: flex;
    flex-direction: row;
}
.post-details{
    font-weight: bold;
}
.profile-page{
    padding: 15px 0;
    border-bottom: 0.5px solid grey ;
}
.grid-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-img{
   width: 32%;
   margin-bottom: 10px;
}